.no-answer-response{
    display: flex;
}

.radial-sign{
    background: #408bfc;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 38px;
}

.no-answer-response p{
    margin: 14px 0px 0 10px;
}